@import url('./null.css');


html {
  font-size: 1px;
  height: 100%;
}

body {
  font-size: 20rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.container {
  padding: 20rem 10rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  margin-bottom: 70rem;

  &__btns {
    display: flex;
    gap: 20rem;
  }
}

.garage {}

.winners {}

.main {
  flex: 1 1 auto;
  margin-bottom: 50rem;


  &__menu {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    margin-bottom: 100rem;
  }

  &__content {}
}

.menu {

  &__create {
    display: flex;
    gap: 10rem;
  }

  &__update {
    display: flex;
    gap: 10rem;
  }

  &__btns {
    display: flex;
    gap: 10rem;
  }
}

.input {
  width: 300rem;

  &__create {}

  &__update {}
}

.create {

  &__color {}

  &__confirm {}
}

.color {
  width: 50rem;

}

.button {
  font-size: 16rem;
  width: 100rem;
  background-color: hsl(83, 78%, 50%);

  &:hover {
    background-color: #1abdda69;
  }
}

.btn {

  &__update {}
}

.update {

  &__confirm {}
}

.btns {

  &__race {}

  &__reset {}

  &__generate {}
}


.title {
  font-size: 35rem;
  margin-bottom: 10rem;
}

.page {
  font-size: 30rem;
  margin-bottom: 20rem;
}

.amount-cars {}

.item {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3rem dashed rgb(96, 96, 96);
  }

  &__flag {
    transform: translate(0, 50%);
  }
}

.items {

  &__car {
    white-space: nowrap;
  }
}

.car {

  &__control {
    display: flex;
    gap: 10rem;
    margin-bottom: 10rem;
  }

  &__drive {
    display: flex;
    gap: 5rem;
  }
}

.control {

  &__select {}

  &__remove {}

  &__model {
    color: rgb(199, 218, 33);
  }
}

.drive {

  &__btns {}

  &__go {
    background-color: hsl(83, 78%, 50%);
    // border: 3rem solid hsl(83, 78%, 50%);
    // color: hsl(83, 78%, 50%);
  }

  &__stop {
    //background-color: hsl(83, 78%, 50%);
    border: 3rem solid hsl(83, 78%, 50%);
    color: hsl(83, 78%, 50%);
  }

  &__icon {}

  &__img {
    width: 64rem;
    height: 64rem;
    transform: translate(0, 35%);
  }
}

.flag {

  &__img {}
}

.footer {

  &__btns {}

  &__prev {}

  &__next {}
}


/*winners*/
.main {

  &__content {}
}

.content {

  &__title {}

  &__page-numbe {}

  &__chart {
    width: 500rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
}

.title {}

.amount-cars {}

.page {}

.page-number {}

.chart {
  width: 450rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a75de;

    span {
      flex: 0 0 100rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__winner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      flex: 0 0 100rem;
    }
  }
}

.winner {

  &__number {
    flex: 0 0 100rem;
  }

  &__img {
    width: 50%;
  }

  &__name {}

  &__wins {}

  &__time {}
}
