@import "./null.css";
@import "./inputCustom.scss";

html {
  font-size: 1px;
}

body {
  font-size: 24rem;
  background: url('../img/minimalFon.jpg') no-repeat;
  background-size: cover;
  color: #6C4F3D;
}

[class*="__container"] {
  width: 1100px;
  margin: 0 auto;
  padding: 15rem;
  border-radius: 3%;
}


.header {
  margin-bottom: 30rem;
  padding: 10rem;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30rem;
  gap: 5rem;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    max-width: 12%;
  }

  &__logo-text {
    font-size: 40rem;
    color: burlywood;
  }

  &__list {
    display: flex;
    gap: 30rem;
  }

  &__link {
    font-size: 28rem;

    &:hover {
      color: #A15849;
    }
  }
}

.main {
  padding: 10rem;
}

.menu {
  padding: 10rem;
  border-radius: 10rem;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    &:hover {
      color: #A15849;
    }
  }
}

.random {
  margin-bottom: 30rem;

  &__container {
    border: 1px solid #FFF3EB;
    border-radius: 2%;
    display: flex;
    align-items: center;
    gap: 20rem;
  }
}

.icon-random {
  &__img {
    width: 200rem;
    height: 155rem;
  }
}

.player-random {
  flex: auto;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1rem solid #000;
    margin-bottom: 20rem;
  }
}

.button-player-controles {

  &__img {
    border: 1rem solid rgba(6, 38, 111, 1);
    border-radius: 50%;
    cursor: pointer;
  }
}

.track-player {
  display: flex;
  align-items: center;
  gap: 40rem;

  &__line {
    flex: 0 1 70%;
  }

  &__input {
    width: 100%;
    cursor: pointer;
  }

  &__volume {
    display: flex;
    gap: 5rem;
  }

  &__volume_img {
    width: 15%;
  }
}

.player-time {
  display: flex;
  justify-content: space-between;
}

.quiz {

  &__container {
    display: flex;
    align-items: center;
    gap: 50rem;
    height: 630rem;
    padding: 0;
  }

  &__choices {
    flex: 0 1 50%;
    height: 100%;
  }

  &__info {
    flex: 0 1 50%;
  }
}

.choices {

  &__wrapper {
    padding: 15rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60rem;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15rem;
    height: 100%;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #000;
      position: absolute;
      top: 30%;
      left: 0;
    }

    &:hover {
      color: #A15849;
      cursor: pointer;
    }
  }

  &__button {
    width: 15rem;
    height: 15rem;
    border: 2rem solid grey;
    border-radius: 50%;
  }

  &__text {
    font-size: 28rem;
  }
}

.info {

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    padding: 15rem;
  }

  &__img {
    width: 200rem;
    height: 155rem;
    margin: 0 auto;
  }

  &__name {
    border-bottom: 1px solid #000;
  }

  &__species {
    border-bottom: 1px solid #000;
  }
}

.player-time {
  width: 100%;
  display: flex;
  align-items: center;
}

.language__english {
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

.language__russian {
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

.main__button {
  width: 100%;
  background-color: #B4B7BA;
  padding: 7rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #A15849;
  }
}

@media (max-width: 1150px) {
  [class*="__container"] {
    width: 900px;
  }

  html {
    font-size: 0.8px;
  }
}

@media (max-width: 920px) {
  .header {
    margin-bottom: 5rem;
  }

  .main__random {
    margin-bottom: 25rem;
  }

  html {
    font-size: 0.7px;
  }

  [class*="__container"] {
    width: 750px;
  }
}

@media (max-width: 768px) {
  [class*="__container"] {
    max-width: 550px;
    width: 100%;
  }

  .menu__list {
    column-gap: 20rem;
    flex-wrap: wrap;
  }

  .quiz {

    &__container {
      display: block;
      align-items: center;
      gap: 50rem;
      height: auto;
    }

    &__choices {
      margin-bottom: 30rem;
      padding: 0rem 0 20rem;

    }

    .info {
      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20rem;
        padding: 15rem;
        text-align: center;
      }

      &__img {
        width: 450rem;
        height: 100%;
        margin: 0 auto;
      }
    }

    .choices__text {
      font-size: 30rem;
    }
  }
}


@media (max-width: 460px) {
  .track-player__volume_input {
    width: 90rem;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 0.7px;
  }

  .top-header__logo-img {
    width: 20%;
  }

  .menu__list {
    row-gap: 10rem;
  }

  .top-header__logo {
    column-gap: 10rem;
  }

  .top-header__logo-text {
    font-size: 20px;
  }

  .top-header__list {
    gap: 13rem;
  }

  .top-header__link {
    font-size: 16px;
  }

  .random__container {
    display: block;
  }

  .random__icon {
    margin-bottom: 40rem;
  }

  .icon-random__img {
    width: 450rem;
    height: 100%;
    margin: 0 auto;
  }
}


/******************JS***************************************/

.win {
  background-color: #6C4F3D;
  max-width: 500rem;
  height: 300rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50rem;
  padding: 40rem 15rem 30rem;
}

.menu__link.active {
  color: #C0AB8E;
  text-decoration: underline;
}

.choices__item.wrong {
  .choices__button {
    background-color: red;
  }
}

.choices__item.right {
  .choices__button {
    background-color: green;
  }
}