@charset "UTF-8";
@import url("../main/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
html {
  font-size: 1px;
  width: 100%;
  height: 100%;
}

* {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16rem;
  box-sizing: border-box;
}

[class*=__container] {
  max-width: 1160px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  [class*=__container] {
    max-width: 940px;
  }
}
@media (max-width: 750px) {
  [class*=__container] {
    max-width: 600px;
  }
}
@media (max-width: 625px) {
  [class*=__container] {
    padding-left: 5rem;
  }
}
/*...............................................*/
.header {
  padding: 14rem;
  color: #fff;
  background-color: #000;
  z-index: 2;
  position: relative;
}
.header a {
  color: #fff;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__block2 {
  display: flex;
  align-items: center;
  gap: 63rem;
  margin-right: 438rem;
}
.header__designed {
  white-space: nowrap;
}
.header__designed a:hover {
  color: #F9804B;
}

.logo {
  border: 1.18841rem solid #FFFFFF;
  width: 82rem;
  padding: 3.55rem 4.75rem;
  position: relative;
  text-align: center;
}
.logo::before {
  content: "";
  background: url("../main/img/bamboo.svg") no-repeat;
  position: absolute;
  width: 7rem;
  height: 21rem;
  left: 12rem;
  bottom: 3rem;
}
.logo__text {
  line-height: 1.2;
  font-size: 19rem;
}

.menu {
  white-space: nowrap;
}
.menu__list {
  display: flex;
  line-height: 140%;
  gap: 58rem;
}
.menu__link:hover {
  color: #F9804B;
}
.menu__link:first-child {
  color: #F9804B;
}

.burger {
  display: none;
}

@media (max-width: 1180px) {
  .header__block2 {
    margin-right: 0rem;
  }
}
@media (max-width: 1000px) {
  .header .menu__list {
    gap: 48rem;
  }
}
@media (max-width: 750px) {
  .header {
    padding: 3rem;
    height: 34rem;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__designed {
    display: none;
  }
  .header .logo {
    border: 0;
    width: 46rem;
    padding: 0rem;
  }
  .header .logo::before {
    content: "";
    background: url("../main/img/bamboo.svg") no-repeat;
    position: absolute;
    width: 7rem;
    height: 21rem;
    left: 4rem;
    bottom: -4rem;
  }
  .header .logo__text {
    line-height: 120%;
    font-size: 12rem;
  }
  .header .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__container {
    position: relative;
    width: 18rem;
    height: 13rem;
  }
  .burger__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #fff;
  }
  .burger__container span {
    position: absolute;
    bottom: 45%;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: #fff;
  }
  .burger__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #fff;
  }
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 50;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
/*...................................................*/
.main__button.button {
  display: none;
}

.watch {
  background: url("../main/img/panda_bg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 700rem;
  color: #FFFFFF;
}
.watch__container {
  display: flex;
  justify-content: end;
  align-items: center;
}
.watch__block {
  position: relative;
  padding: 83rem 0 216rem 0;
}
.watch__block::before {
  content: "";
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  width: 465rem;
  height: 465rem;
  border-radius: 50%;
  top: 1.5%;
  left: -13%;
}
.watch__text {
  text-align: center;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-transform: uppercase;
  max-width: 500rem;
  z-index: 1;
  position: relative;
  margin-bottom: 60rem;
}
.watch__text span {
  color: #FFEE2E;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  padding: 86rem 0 214rem 0;
  text-transform: uppercase;
}

.button {
  display: block;
  margin: 0 auto;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25rem;
  max-width: 298rem;
  width: 100%;
  height: 54rem;
}
.button a {
  color: #FFFFFF;
}
.button:active {
  background: rgb(75, 146, 0);
}
.button:hover {
  background: rgb(228, 114, 9);
}
.button:hover:active {
  background: rgb(75, 146, 0);
}

@media (max-width: 1000px) {
  .watch {
    padding-top: 80rem;
    height: 500rem;
    padding: 0;
  }
  .watch__block::before {
    content: "";
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    position: absolute;
    width: 367rem;
    height: 367rem;
    border-radius: 50%;
    top: -2%;
    left: -2%;
    z-index: 1;
  }
  .watch__text {
    font-size: 85rem;
    line-height: 75%;
    transform: translate(0%, -13%);
    margin-bottom: 0;
  }
  .watch__text span {
    font-size: 85rem;
  }
}
@media (max-width: 750px) {
  .watch {
    height: 372rem;
  }
  .watch .button {
    width: 298rem;
    margin: 0;
    transform: translate(-103%, -5%);
  }
  .watch__block::before {
    content: "";
    width: 237rem;
    height: 237rem;
    top: 8%;
    left: 2%;
  }
  .watch__text {
    font-size: 54rem;
    line-height: 75%;
    transform: translate(19%, 0%);
    margin-bottom: 0;
    max-width: 255rem;
  }
  .watch__text span {
    font-size: 54rem;
  }
}
@media (max-width: 625px) {
  .main__button.button {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .watch {
    height: 221rem;
    margin-bottom: 20rem;
  }
  .watch__block::before {
    content: "";
    width: 119rem;
    height: 119rem;
    top: 13%;
    left: -30%;
  }
  .watch .button {
    display: none;
  }
  .watch__text {
    font-size: 28rem;
    transform: translate(-20%, -10%);
    max-width: 128rem;
  }
  .watch__text span {
    font-size: 28rem;
  }
}
/*..............................................*/
.backstage {
  position: relative;
  padding: 140rem 0 180rem;
}
.backstage__container {
  display: flex;
  gap: 87rem;
}

.bacstage__flower {
  position: absolute;
  top: 0;
  right: 0;
}

.flower-backstage__img {
  max-width: 609rem;
  width: 100%;
}

.text-backstage {
  color: #333B41;
}
.text-backstage__title {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20rem;
}
.text-backstage__p1 {
  line-height: 115%;
  margin-bottom: 47rem;
}
.text-backstage__sutitle {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34rem;
}
.text-backstage__p2 {
  line-height: 109%;
}

.flower-backstage__img2 {
  display: none;
}

@media (max-width: 1495px) {
  .flower-backstage__img {
    display: none;
  }
}
@media (max-width: 1000px) {
  .backstage {
    padding: 100rem 0 155rem;
  }
  .backstage__container {
    display: flex;
    gap: 32rem;
  }
  .backstage .text-backstage__title {
    font-size: 48px;
  }
  .backstage .text-backstage__p1 {
    margin-bottom: 60rem;
  }
  .backstage .text-backstage__p2 {
    line-height: 130%;
  }
  .backstage .flower-backstage__img {
    display: none;
  }
  .backstage__icon img {
    transform: translate(0%, 2%);
    max-width: 455rem;
    height: 408rem;
  }
}
@media (max-width: 750px) {
  .backstage {
    padding: 60rem 0 85rem;
  }
  .backstage__container {
    width: 495rem;
  }
  .backstage .icon-backstage {
    display: none;
  }
  .backstage .text-backstage {
    transform: translate(-10%, 0);
  }
  .backstage .text-backstage__p1 {
    margin-bottom: 40rem;
  }
  .backstage .text-backstage__sutitle {
    margin-bottom: 20rem;
  }
}
@media (max-width: 640px) {
  .backstage .flower-backstage .flower-backstage__img {
    display: none;
  }
  .backstage .flower-backstage .flower-backstage__img2 {
    display: block;
    transform: translate(0, -1%);
  }
}
@media (max-width: 625px) {
  .backstage {
    padding: 30rem 0 55rem;
  }
  .backstage__container {
    width: auto;
  }
  .backstage .text-backstage {
    transform: translate(0%, 0);
    margin: 0 auto;
    max-width: 305rem;
  }
  .backstage .text-backstage__title {
    font-size: 24rem;
  }
  .backstage .text-backstage__p1 {
    margin-bottom: 20rem;
  }
  .backstage .flower-backstage img {
    max-width: 50rem;
    min-height: 120rem;
  }
}
/*.......................................*/
#palma2 {
  display: none;
}

.pets {
  padding-bottom: 100rem;
  position: relative;
}
.pets__container {
  position: relative;
}
.pets__container::before {
  content: "→";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  right: -7%;
  top: 38%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 62rem;
  height: 62rem;
  border-radius: 50%;
  font-size: 23rem;
}
.pets__container::after {
  content: "←";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  left: -7%;
  top: 40%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 62rem;
  height: 62rem;
  border-radius: 50%;
  font-size: 23rem;
}
.pets__container:hover {
  cursor: pointer;
}
.pets__container:hover::before, .pets__container:hover::after {
  background: rgb(228, 114, 9);
}
.pets__container:hover:active::before, .pets__container:hover:active::after {
  background: rgb(75, 146, 0);
}
.flowers-pets__palma {
  position: absolute;
  bottom: 0;
  left: 1%;
}
.flowers-pets__strelitzia {
  position: absolute;
  bottom: 0;
  right: 0;
}

.list-pets {
  margin-bottom: 80rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30rem;
       column-gap: 30rem;
  row-gap: 20rem;
}

.block-pets {
  position: relative;
  border: 1rem solid #FA6F32;
  height: 428rem;
}
.block-pets:hover .info-pets {
  color: #BDBDBD;
  position: absolute;
  bottom: 0;
  transform: translate(0, -100%);
  left: 0;
  transition: all 0.3s ease 0s;
}
.block-pets__icon {
  position: relative;
}
.block-pets__icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.block-pets__icon:hover::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
}
.info-pets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 13rem 12rem 17rem;
}
.info-pets__name {
  line-height: 120%;
  font-weight: 500;
  text-transform: uppercase;
}
.info-pets__country {
  white-space: nowrap;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
}
@media (max-width: 1500px) {
  .flowers-pets__palma {
    position: absolute;
    bottom: 0%;
    left: -2%;
    max-width: 190rem;
  }
  .flowers-pets__strelitzia {
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
    max-width: 341rem;
  }
}
@media (max-width: 1358px) {
  .pets__container::before {
    right: 0%;
    top: 38%;
  }
  .pets__container::after {
    left: 0%;
    top: 40%;
  }
  .pets .list-pets {
    justify-content: center;
    grid-template-columns: repeat(3, 285rem);
  }
  .pets .block-pets {
    height: 354rem;
  }
  .pets .block-pets__icon img {
    max-width: 275rem;
  }
}
@media (max-width: 1080px) {
  #palma2 {
    display: block;
  }
  #palma1 {
    display: none;
  }
  .list-pets {
    margin-bottom: 80rem;
    display: grid;
    grid-template-columns: repeat(3, 295rem);
    -moz-column-gap: 30rem;
         column-gap: 30rem;
    row-gap: 92rem;
  }
  .pets {
    padding-bottom: 140rem;
  }
  .pets__container::before {
    right: 34%;
    top: 39%;
  }
  .pets__container::after {
    left: 35%;
    top: 39%;
  }
  .pets .block-pets {
    height: 354rem;
  }
  .pets .block-pets__icon img {
    max-width: 285rem;
  }
  .info-pets {
    padding: 6rem 13rem 12rem 15rem;
  }
  .flowers-pets__palma {
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
  .flowers-pets__strelitzia {
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
    max-width: 241rem;
  }
}
@media (max-width: 950px) {
  .pets .list-pets {
    grid-template-columns: repeat(3, 250rem);
    -moz-column-gap: 20rem;
         column-gap: 20rem;
  }
  .pets .block-pets {
    height: 300rem;
  }
  .pets .block-pets__icon img {
    max-width: 245rem;
  }
}
@media (max-width: 800px) {
  .pets .list-pets {
    grid-template-columns: repeat(3, 200rem);
    -moz-column-gap: 20rem;
         column-gap: 20rem;
  }
  .pets .block-pets__icon img {
    max-width: 195rem;
  }
}
@media (max-width: 750px) {
  .pets {
    padding-bottom: 100rem;
  }
  .pets__container::before {
    right: 37%;
    top: 38.5%;
  }
  .pets__container::after {
    left: 37%;
    top: 38.5%;
  }
  .pets .list-pets {
    margin-bottom: 55rem;
    grid-template-columns: repeat(2, 285rem);
    -moz-column-gap: 30rem;
         column-gap: 30rem;
    transform: translate(0%, 0);
  }
  .pets .list-pets__block:first-child {
    display: none;
  }
  .pets .list-pets__block:last-child {
    display: none;
  }
  .pets .block-pets {
    height: 332rem;
  }
  .pets .block-pets__icon img {
    max-width: 285rem;
  }
  .pets .info-pets {
    padding: 0rem 13rem 12rem 17rem;
  }
  .pets .info-pets__name {
    font-size: 12rem;
  }
  .pets .info-pets__country {
    font-size: 11rem;
  }
  .pets .flowers-pets__palma {
    position: absolute;
    bottom: 0%;
    left: -8%;
  }
  .pets .flowers-pets__strelitzia {
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
    max-width: 171rem;
  }
}
@media (max-width: 625px) {
  .pets {
    padding-bottom: 65rem;
  }
  .pets .list-pets {
    grid-template-columns: repeat(1, 285rem);
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 20rem;
    margin-bottom: 25rem;
  }
  .pets .flowers-pets__palma {
    position: absolute;
    bottom: 0%;
    left: -6%;
    max-width: 75rem;
  }
  .pets .flowers-pets__strelitzia {
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
    max-width: 81rem;
  }
  .pets__container::before {
    right: 37%;
    top: 38.5%;
    display: none;
  }
  .pets__container::after {
    left: 37%;
    top: 38.5%;
    display: none;
  }
}
@media (max-width: 320px) {
  .pets .list-pets {
    justify-content: start;
    margin-left: 3rem;
  }
  .pets .info-pets {
    padding: 7rem 13rem 12rem 12rem;
  }
}
/*...................................................*/
.pick {
  background-color: #FBC6AA;
  padding: 69rem 220rem 100rem;
  color: #333B41;
  margin-bottom: 155rem;
  letter-spacing: 0.001rem;
}
.pick__container {
  background-color: #FDE5D9;
  padding: 30rem 93rem 59rem 100rem;
}
.pick__title {
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 30rem;
}
.pick__subtitle {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 40rem;
}
.pick__text {
  line-height: 130%;
  font-weight: 500;
  margin-bottom: 65rem;
}
.pick__title2 {
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40rem;
  margin-right: 12rem;
}
.text-pick {
  line-height: 130%;
}
.text-pick__p1 {
  font-weight: 500;
  margin-bottom: 10rem;
  font-size: 16rem;
}
.text-pick__p2 a {
  color: #333B41;
  border-bottom: 1rem solid rgb(254, 144, 19);
}
.text-pick__p2 a:active {
  color: rgb(75, 146, 0);
}

.description-pick {
  display: flex;
  gap: 130rem;
  margin-bottom: 60rem;
  padding: 0 80rem;
  margin-left: 20rem;
}
.column-pick {
  position: relative;
}
.column-pick:not(:last-child)::after {
  content: "";
  background: url("../main/img/pick/Vector.svg") no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 42%;
  transform: translate(115%, -20%);
  right: 0;
}
.column-pick__icon {
  width: 168rem;
  height: 166rem;
  background-color: #fff;
  border: 1px solid #F9804B;
  position: relative;
  margin-bottom: 25rem;
}
.column-pick__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column-pick__text {
  line-height: 120%;
  width: 168rem;
}

@media (max-width: 1500px) {
  .pick {
    margin-bottom: 120rem;
    padding: 30rem 30rem 50rem;
  }
  .pick__container {
    padding: 25rem 68rem 50rem 68rem;
  }
  .description-pick {
    justify-content: space-between;
    gap: 30rem;
    margin-bottom: 74rem;
    padding: 0 50rem;
    margin-left: 0rem;
  }
}
@media (max-width: 1000px) {
  .pick {
    margin-bottom: 120rem;
    padding: 30rem 30rem 50rem;
  }
  .pick__container {
    padding: 25rem 48rem 50rem 48rem;
  }
  .pick__title {
    line-height: 118%;
  }
  .pick__subtitle {
    margin-bottom: 17rem;
  }
  .pick__title2 {
    line-height: 0;
    margin-right: 0rem;
    margin-bottom: 69rem;
  }
  .text-pick {
    line-height: 120%;
  }
  .text-pick__p1 {
    white-space: normal;
  }
  .description-pick {
    gap: 120rem;
    margin-bottom: 74rem;
    padding: 0 50rem;
    margin-left: 0rem;
  }
}
@media (max-width: 900px) {
  .pick {
    padding: 30rem 10rem 50rem;
  }
  .pick__container {
    padding: 25rem 15rem 50rem 15rem;
  }
  .pick .description-pick {
    gap: 50rem;
  }
  .pick .column-pick:not(:last-child)::after {
    width: 40%;
    height: 100%;
    top: 50%;
    transform: translate(115%, -20%);
    right: 20%;
  }
  .pick .column-pick__icon {
    background-color: #fff;
    border: 1px solid #F9804B;
    position: relative;
    margin-bottom: 25rem;
  }
  .pick .column-pick__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 750px) {
  .pick {
    margin-bottom: 70rem;
    padding: 25rem 0rem 20rem;
  }
  .pick__container {
    padding: 5rem 20rem 60rem 20rem;
    width: 100%;
    max-width: 750rem;
    border-radius: 15rem;
  }
  .pick .description-pick {
    gap: 40rem;
    padding: 0rem;
    justify-content: start;
    margin-bottom: 50rem;
  }
  .pick .column-pick {
    position: relative;
  }
  .pick .column-pick__icon {
    margin-bottom: 30rem;
  }
  .pick .column-pick:not(:last-child)::after {
    content: "";
    background: url("../main/img/pick/arrow.png") no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 12%;
    transform: translate(115%, -20%);
    right: 35%;
    z-index: 2;
  }
  .pick__title {
    font-size: 42rem;
    margin-bottom: 20rem;
  }
  .pick__subtitle {
    font-size: 22rem;
    margin-bottom: 23rem;
  }
  .pick__title2 {
    margin-bottom: 40rem;
  }
}
@media (max-width: 625px) {
  .pick {
    margin-bottom: 30rem;
    padding: 25rem 15rem 20rem;
  }
  .pick__container {
    padding: 5rem 2rem 40rem 2rem;
  }
  .pick__title {
    font-size: 24rem;
  }
  .pick__subtitle {
    font-size: 18rem;
    text-align: center;
    margin-bottom: 30rem;
  }
  .pick__text {
    display: none;
  }
  .pick__title2 {
    font-size: 24rem;
  }
  .pick .description-pick {
    gap: 40rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50rem;
  }
  .pick .description-pick .column-pick__icon {
    margin-bottom: 10rem;
  }
  .pick .description-pick .column-pick:not(:last-child)::after {
    content: "";
    background: url("../main/img/pick/arrow.png") no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70%;
    transform: translate(0%, 0%) rotate(90deg);
    right: -10%;
    z-index: 2;
  }
}
/*.....................................................*/
.testimonials {
  padding-bottom: 180rem;
  line-height: 130%;
  color: #333B41;
  position: relative;
}
.testimonials__flowers .flowers-least {
  max-width: 300rem;
  position: absolute;
  bottom: -14%;
  right: 1%;
}
.testimonials__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 57rem;
}
.testimonials__button {
  margin: 0;
  border-radius: 5rem;
}
.testimonials__strip {
  margin-bottom: 22rem;
  text-align: center;
}
.testimonials__strip .strip__input {
  cursor: pointer;
  -webkit-appearance: none;
  width: 599rem;
  height: 8rem;
  position: relative;
  background-color: #E5E5E5;
}
.testimonials__strip .strip__input:hover {
  opacity: 1;
}
.testimonials__strip .strip__input::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(0deg, #F5F7F6, #F5F7F6);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.3;
}
.testimonials__strip .strip__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 115rem;
  height: 6rem;
  background: rgb(254, 144, 19);
  border-radius: 5px;
}

.comments-testimonials {
  margin-bottom: 18rem;
  display: flex;
  gap: 30rem;
}
.testimonials-column {
  width: 268rem;
  height: 391rem;
  border-radius: 20px;
  background: #F1F3F2;
  padding: 15rem;
  overflow: hidden;
  position: relative;
  opacity: 0.6;
}
.testimonials-column::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.testimonials-column:hover {
  overflow: auto;
  opacity: 1;
  border: 3px solid rgba(254, 189, 171, 0.74);
  border-radius: 20rem;
}
.testimonials-column:hover::before {
  content: none;
}
.testimonials-column:hover::-webkit-scrollbar {
  width: 11rem;
}
.testimonials-column:hover::-webkit-scrollbar-track {
  background: #d4d4d4;
}
.testimonials-column:hover::-webkit-scrollbar-thumb {
  background: #FA6F32;
  border-radius: 8rem;
  border: 1rem solid #d4d4d4;
}
.testimonials-column .person-column {
  position: relative;
  padding-left: 50rem;
}
.testimonials-column .person-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.testimonials-column:first-child .person-column::before {
  content: "";
  background: url("../main/img/comments/user_icon.svg") no-repeat;
}
.testimonials-column:nth-child(2) .person-column::before {
  content: "";
  background: url("../main/img/comments/man2.svg") no-repeat;
}
.testimonials-column:nth-child(3) .person-column::before {
  content: "";
  background: url("../main/img/comments/girl 1.svg") no-repeat;
}
.testimonials-column:last-child .person-column::before {
  content: "";
  background: url("../main/img/comments/girl2.svg") no-repeat;
}
.testimonials-column__text {
  font-weight: 300;
  font-size: 15px;
  color: #767474;
}

.person-testimonials {
  margin-bottom: 5rem;
}
.person-testimonials__name {
  color: #000000;
}
.person-testimonials__date {
  color: #BDBDBD;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

@media (max-width: 1000px) {
  .testimonials {
    padding-bottom: 140rem;
  }
  .testimonials__flowers .flowers-least {
    bottom: -13%;
    right: 0%;
    max-width: 200rem;
  }
  .testimonials__title {
    margin-bottom: 37rem;
  }
  .testimonials__strip {
    margin-bottom: 40rem;
  }
  .testimonials__strip .strip__input {
    width: 398rem;
    height: 8rem;
  }
  .testimonials__strip .strip__input::-webkit-slider-thumb {
    width: 75rem;
  }
  .testimonials-column {
    width: 300rem;
    height: 391rem;
  }
  .testimonials-column:nth-child(2) {
    display: none;
  }
}
@media (max-width: 750px) {
  .testimonials {
    padding-bottom: 80rem;
  }
  .testimonials__flowers .flowers-least {
    bottom: -12%;
    right: 0%;
    max-width: 120rem;
  }
  .testimonials__title {
    margin-bottom: 43rem;
  }
  .testimonials .comments-testimonials {
    margin-bottom: 40rem;
    display: flex;
    flex-direction: column;
    gap: 15rem;
  }
  .testimonials .testimonials-column {
    width: 600rem;
    height: 109rem;
    border-radius: 20px;
    background: #F1F3F2;
    padding: 15rem 28rem 8rem 12rem;
    overflow: hidden;
    position: relative;
    opacity: 0.6;
  }
  .testimonials__strip {
    display: none;
  }
  .testimonials__button {
    margin: 0 auto;
    width: 240rem;
  }
}
@media (max-width: 625px) {
  .testimonials {
    padding-bottom: 60rem;
  }
  .testimonials__flowers .flowers-least {
    bottom: -7%;
    right: 0%;
    max-width: 65rem;
  }
  .testimonials__title {
    font-size: 24rem;
    margin-bottom: 25rem;
  }
  .testimonials .testimonials-column {
    margin: 0 auto;
    width: 299rem;
    height: 109rem;
    padding: 15rem 28rem 8rem 12rem;
  }
  .testimonials .comments-testimonials {
    margin-bottom: 30rem;
  }
}
/*.................................*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 41rem 50rem;
}
.footer a {
  color: #fff;
}
.footer__container {
  display: flex;
}
.block1-footer {
  margin-right: 100rem;
}
.block1-footer__logo {
  margin-bottom: 68rem;
}
.block1-footer__button {
  border-radius: 5rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  margin-bottom: 48rem;
  padding: 0 40rem;
  width: 298rem;
}
.contacts-block1__list {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.contacts-block1__link {
  position: relative;
  padding-left: 37rem;
}
.contacts-block1__link:hover {
  color: #FA6F32;
}
.contacts-block1__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 26rem;
  height: 26rem;
  transform: translate(0, -50%);
  border-radius: 50%;
  z-index: 2;
}
.contacts-block1__link::after {
  content: "";
  background: rgba(196, 196, 196, 0.5);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
}
.contacts-block1__link:active {
  color: rgb(75, 146, 0);
}
.contacts-block1__link:active::after {
  background: rgb(75, 146, 0);
}
.contacts-block1__link:first-child::before {
  content: "";
  background: url("../main/img/footer/Facebook.svg") center no-repeat;
}
.contacts-block1__link:nth-child(2)::before {
  content: "";
  background: url("../main/img/footer/twitter.svg") center no-repeat;
}
.contacts-block1__link:nth-child(3)::before {
  content: "";
  background: url("../main/img/footer/inst.svg") center no-repeat;
}
.contacts-block1__link:nth-child(4)::before {
  content: "";
  background: url("../main/img/footer/youtube.svg") center no-repeat;
}

.block2-footer {
  align-items: end;
  display: flex;
  margin-right: 30rem;
}

.block3-footer {
  display: flex;
  flex-direction: column;
}
.block3-footer__title {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 10rem;
}
.block3-footer__email {
  flex: 1 1 100%;
  white-space: nowrap;
}
.block3-footer__input {
  min-width: 228rem;
  margin-bottom: 10rem;
  height: 42rem;
  position: relative;
  border: 0.7px solid;
  border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-image-slice: 1;
  background: #000;
  padding-left: 10rem;
  margin-right: 7rem;
  color: #fff;
}
.block3-footer__input:focus {
  border: 0.7px solid rgb(211, 20, 20);
}
.block3-footer__input:focus:valid {
  border: 0.7px solid rgb(75, 146, 0);
}
.block3-footer__button {
  color: rgb(75, 146, 0);
  line-height: 140%;
  max-width: 129rem;
  height: 49rem;
  width: 100%;
  position: relative;
  border-radius: 5rem;
  border: 1px solid rgb(75, 146, 0);
}
.block3-footer__button[data-mistake] {
  border: 1px solid rgb(211, 20, 20);
  color: rgb(211, 20, 20);
}
.block3-footer__desigend {
  white-space: nowrap;
  align-self: end;
  margin-left: 150rem;
  font-weight: 100;
}
.block3-footer__desigend p a {
  color: #ABABAB;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}
.block3-footer__desigend p a:active {
  color: rgb(75, 146, 0);
}

.footer__contacts2 {
  display: none;
}

@media (max-width: 1215px) {
  .footer .block1-footer {
    margin-right: -7rem;
  }
  .footer .block2-footer {
    margin-right: 0;
  }
}
@media (max-width: 1080px) {
  .footer {
    padding: 35rem 45rem 41rem 45rem;
  }
  .footer__container {
    display: flex;
  }
  .block1-footer {
    margin-right: -7rem;
  }
  .block2-footer {
    margin-right: -78rem;
  }
  .menu__list {
    gap: 48rem;
  }
  .block3-footer {
    margin-right: 180rem;
    transform: translate(-20%, 0);
  }
  .block3-footer__button {
    height: 42rem;
  }
}
@media (max-width: 970px) {
  .block3-footer__title {
    display: none;
  }
  .block3-footer__email {
    display: none;
  }
  .block3-footer__desigend {
    position: absolute;
    bottom: -35%;
    left: -80rem;
  }
  .block2-footer {
    display: block;
  }
  .footer {
    padding: 13rem 22rem 100rem;
    position: relative;
  }
  .footer .block1-footer__logo {
    margin-bottom: 28rem;
  }
  .footer .contacts-block1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .contacts-block1__list {
    gap: 30rem;
  }
  .footer .contacts-block1__link {
    color: #000;
  }
  .footer .contacts-block1__link::before {
    top: 90%;
    transform: translate(0, -50%);
    left: 75%;
  }
  .footer .contacts-block1__link::after {
    top: 90%;
    transform: translate(0, -50%);
    left: 75%;
  }
  .footer .menu__list {
    gap: 40rem;
    position: absolute;
    bottom: -40%;
    left: 0;
  }
}
@media (max-width: 625px) {
  .footer .footer__contacts2 {
    display: block;
  }
  .footer .footer__contacts2 .contacts-block1__list {
    flex-direction: row;
    gap: 17rem;
  }
  .footer .footer__contacts2 .contacts-block1__list .contacts-block1__link::after {
    left: 115%;
    transform: translate(0, -200%);
  }
  .footer .footer__contacts2 .contacts-block1__list .contacts-block1__link::before {
    transform: translate(0, -200%);
    bottom: 200rem;
    left: 115%;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .logo {
    transform: translate(-20%, 0);
    margin: 0rem auto 28rem;
    border: none;
    white-space: nowrap;
    font-size: 19rem;
    text-align: center;
    margin-bottom: 80rem;
  }
  .footer .logo::before {
    left: 100%;
  }
  .footer .contacts-block1 {
    display: none;
  }
  .footer .menu__list {
    gap: 30rem;
    position: absolute;
    bottom: -40%;
    left: 0;
  }
  .footer .block3-footer__desigend {
    transform: translate(-30%, 60%);
  }
}/*# sourceMappingURL=style.css.map */