@import url("../main/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 1px;
}

* {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16rem;
  box-sizing: border-box;
}

[class*=__container] {
  max-width: 1160px;
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*...............................................*/
.header {
  padding: 14rem;
  color: #fff;
  background-color: #000;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__block2 {
  display: flex;
  align-items: center;
  gap: 63rem;
  margin-right: 438rem;
}
.header__designed {
  white-space: nowrap;
}
.header__designed a:hover {
  color: #F9804B;
}

.logo {
  border: 1.18841rem solid #FFFFFF;
  width: 82rem;
  padding: 3.55rem 4.75rem;
  position: relative;
  text-align: center;
}
.logo::before {
  content: "";
  background: url("../main/img/bamboo.svg") no-repeat;
  position: absolute;
  width: 7rem;
  height: 21rem;
  left: 12rem;
  bottom: 3rem;
}
.logo__text {
  line-height: 1.2;
  font-size: 19rem;
}

.menu {
  white-space: nowrap;
}
.menu__list {
  display: flex;
  line-height: 140%;
  gap: 58rem;
}
.menu__link:hover {
  color: #F9804B;
}
.menu__link:first-child {
  color: #F9804B;
}

/*...................................................*/
.watch {
  background: url("../main/img/panda_bg.png") center no-repeat;
  background-size: cover;
  height: 100%;
  height: 390rem;
}

/*..............................................*/
.forhelp-pick a {
  text-decoration: none;
}
.forhelp-pick__title {
  white-space: nowrap;
}
.forhelp-pick__text {
  line-height: 1rem;
}

.pick {
  background-color: #FBC6AA;
  padding: 36rem 220rem 180rem 220rem;
  font-style: italic;
  color: #333B41;
  height: 1482rem;
}
.pick__container {
  background-color: #FDE5D9;
  padding: 41rem 65rem 59rem 90rem;
}
.pick__container2 {
  width: 1160rem;
}
.pick__title {
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 20rem;
  white-space: nowrap;
  margin-right: 32rem;
}
.pick__subtitle {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 90rem;
}
.pick__text {
  line-height: 130%;
  font-weight: 500;
  margin-bottom: 10rem;
}
.pick__title2 {
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40rem;
}
.text-pick {
  line-height: 130%;
}
.text-pick__p1 {
  font-weight: 500;
  margin-bottom: 10rem;
}
.description-pick {
  display: flex;
  gap: 130rem;
  margin-bottom: 60rem;
  padding: 0 80rem;
}
.column-pick {
  position: relative;
}
.column-pick:not(:last-child)::after {
  content: "";
  background: url("../main/img/pick/Vector.svg") no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translate(115%, -20%);
  right: 0;
}
.column-pick__icon {
  width: 168rem;
  height: 166rem;
  background-color: #fff;
  border: 1px solid #F9804B;
  position: relative;
  margin-bottom: 30rem;
}
.column-pick__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column-pick__text {
  line-height: 140%;
}

.pick a {
  text-decoration: none;
}
.pick__input {
  text-align: center;
  margin-bottom: 31rem;
}
.pick__buttons {
  margin-right: 45rem;
}

.input-pick__wrapper-field {
  margin-right: 30rem;
  width: 268rem;
  display: inline-block;
  margin-bottom: 30rem;
  position: relative;
}
.input-pick__wrapper-field::after {
  content: "$";
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translate(0, -50%);
  color: #929699;
  font-size: 20rem;
  font-weight: 600;
}
.input-pick__fiel {
  padding-left: 10rem;
  width: 100%;
  height: 54rem;
  border: 1px solid rgb(146, 150, 153);
  border-radius: 2px;
  background: rgb(255, 230, 211);
  -moz-appearance: textfield;
}
.input-pick__fiel::-webkit-outer-spin-button, .input-pick__fiel::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-pick__fiel:focus {
  border: 1px solid rgb(75, 146, 0);
}
.input-pick__fiel:invalid {
  border: 1px solid rgb(211, 20, 20);
}
.input-pick__choice1 {
  border: 1px solid rgb(254, 144, 19);
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-pick__choice1[checked] {
  background: rgb(75, 146, 0);
}
.input-pick__choice2 {
  border: 1px solid rgb(254, 144, 19);
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-pick__choice2[checked] {
  background: rgb(75, 146, 0);
}
.input-pick__monthly {
  margin-right: 50rem;
}
.input-pick__monthly:focus {
  background: rgb(75, 146, 0);
}
.pick {
  font-style: normal;
  color: #333B41;
}
.pick__container {
  border-radius: 20px;
}
.pick__title {
  font-style: normal;
}
.pick__subtitle {
  font-style: normal;
}
.pick__button.button {
  transform: translate(-5%, 0);
}
.pick__share {
  line-height: 140%;
  color: #333B41;
  text-align: center;
  margin-top: 30rem;
}

.forhelp-pick {
  color: #FFFFFF;
  margin-bottom: 60rem;
}
.forhelp-pick__title {
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 10rem;
}
.forhelp-pick__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40rem;
}
.forhelp-pick__donation {
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
}

.diet {
  margin-right: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78rem;
  margin-bottom: 25rem;
}
.amount-diet {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.amount-diet::after {
  content: "";
  position: absolute;
  top: 35%;
  right: -15%;
  background: url("../main/img/donate/x_icon.svg");
  width: 14rem;
  height: 14rem;
}
.amount-diet__number {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 70rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-bottom: 11rem;
}
.amount-diet__text {
  line-height: 140%;
  color: #333B41;
  text-align: center;
}
.amount-diet__icon {
  transform: translate(2%, -10%);
}
.amount-diet__img {
  width: 100%;
  height: 100%;
}

.strip-pick__text {
  line-height: 140%;
  color: #000000;
  margin-bottom: 10rem;
}
.strip-pick__wrapper {
  max-width: 976rem;
  height: 27rem;
  background: #404950;
  border-radius: 2px;
  position: relative;
}
.strip-pick__line {
  max-width: 915px;
  height: 2px;
  background: #72828E;
  position: absolute;
  top: 50%;
  width: 92%;
  transform: translate(4%, -50%);
  left: 0;
}
.sum-strip {
  margin-bottom: 50rem;
  display: flex;
  gap: 67rem;
}
.sum-strip__number {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  position: relative;
  margin-top: 10rem;
}
.sum-strip__number::before {
  content: "";
  background: #FFEE2E;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  top: -75%;
  left: 40%;
}
.sum-strip__number::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-38%, -40%);
  width: 40rem;
  height: 40rem;
  border: 1rem solid rgb(254, 144, 19);
  border-radius: 50%;
  opacity: 0;
}
.sum-strip__number:hover {
  color: #F9804B;
}
.sum-strip__number:hover::after {
  opacity: 1;
}

.button {
  display: block;
  margin: 0 auto;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25rem;
  max-width: 298rem;
  width: 100%;
  height: 54rem;
}
.button:active {
  background: rgb(75, 146, 0);
}
.button:hover {
  background: rgb(228, 114, 9);
}
.button:hover:active {
  background: rgb(75, 146, 0);
}

/*.................................*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 41rem 50rem;
}
.footer a {
  text-decoration: none;
}
.footer a {
  color: #fff;
}
.footer__container {
  display: flex;
}
.block1-footer {
  margin-right: 100rem;
}
.block1-footer__logo {
  margin-bottom: 68rem;
}
.block1-footer__button {
  border-radius: 5rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  margin-bottom: 48rem;
  padding: 0 40rem;
  width: 298rem;
}
.contacts-block1__list {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.contacts-block1__link {
  position: relative;
  padding-left: 40rem;
}
.contacts-block1__link:hover {
  color: #FA6F32;
}
.contacts-block1__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 26rem;
  height: 26rem;
  transform: translate(0, -50%);
  border-radius: 50%;
  z-index: 2;
}
.contacts-block1__link::after {
  content: "";
  background: rgba(196, 196, 196, 0.5);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
}
.contacts-block1__link:active {
  color: rgb(75, 146, 0);
}
.contacts-block1__link:active::after {
  background: rgb(75, 146, 0);
}
.contacts-block1__link:first-child::before {
  content: "";
  background: url("../main/img/footer/Facebook.svg") center no-repeat;
}
.contacts-block1__link:nth-child(2)::before {
  content: "";
  background: url("../main/img/footer/twitter.svg") center no-repeat;
}
.contacts-block1__link:nth-child(3)::before {
  content: "";
  background: url("../main/img/footer/inst.svg") center no-repeat;
}
.contacts-block1__link:nth-child(4)::before {
  content: "";
  background: url("../main/img/footer/youtube.svg") center no-repeat;
}

.block2-footer {
  align-items: end;
  display: flex;
  margin-right: 30rem;
}

.block3-footer {
  display: flex;
  flex-direction: column;
}
.block3-footer__title {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 10rem;
}
.block3-footer__email {
  flex: 1 1 100%;
  white-space: nowrap;
}
.block3-footer__input {
  min-width: 228rem;
  margin-bottom: 10rem;
  height: 42rem;
  position: relative;
  border: 0.7px solid;
  border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-image-slice: 1;
  background: #000;
  padding-left: 10rem;
  margin-right: 7rem;
  color: #fff;
}
.block3-footer__input:focus {
  border: 0.7px solid rgb(211, 20, 20);
}
.block3-footer__input:focus:valid {
  border: 0.7px solid rgb(75, 146, 0);
}
.block3-footer__button {
  color: rgb(75, 146, 0);
  line-height: 140%;
  max-width: 129rem;
  height: 49rem;
  width: 100%;
  position: relative;
  border-radius: 5rem;
  border: 1px solid rgb(75, 146, 0);
}
.block3-footer__button[data-mistake] {
  border: 1px solid rgb(211, 20, 20);
  color: rgb(211, 20, 20);
}
.block3-footer__desigend {
  white-space: nowrap;
  align-self: end;
  margin-left: 150rem;
  font-weight: 100;
}
.block3-footer__desigend p a {
  color: #ABABAB;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}
.block3-footer__desigend p a:active {
  color: rgb(75, 146, 0);
}/*# sourceMappingURL=style copy.css.map */