@import url("../main/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 1px;
}

* {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16rem;
  box-sizing: border-box;
}

[class*=__container] {
  max-width: 1160px;
  position: relative;
  margin: 0 auto;
}

[class*=__container2] {
  max-width: 1160px;
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  [class*=__container] {
    max-width: 940px;
  }
}
@media (max-width: 1000px) {
  [class*=__container2] {
    max-width: 940px;
  }
}
@media (max-width: 720px) {
  [class*=__container] {
    max-width: 600px;
  }
}
@media (max-width: 720px) {
  [class*=__container2] {
    max-width: 600px;
  }
}
/*...............................................*/
.header {
  padding: 14rem;
  color: #fff;
  background-color: #000;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__block2 {
  display: flex;
  align-items: center;
  gap: 63rem;
  margin-right: 438rem;
}
.header__designed {
  white-space: nowrap;
}
.header__designed a:hover {
  color: #F9804B;
}

.logo {
  border: 1.18841rem solid #FFFFFF;
  width: 82rem;
  padding: 3.55rem 4.75rem;
  position: relative;
  text-align: center;
}
.logo::before {
  content: "";
  background: url("../main/img/bamboo.svg") no-repeat;
  position: absolute;
  width: 7rem;
  height: 21rem;
  left: 12rem;
  bottom: 3rem;
}
.logo__text {
  line-height: 1.2;
  font-size: 19rem;
}

.menu {
  white-space: nowrap;
}
.menu__list {
  display: flex;
  line-height: 140%;
  gap: 58rem;
}
.menu__link:hover {
  color: #F9804B;
}
.menu__link:first-child {
  color: #F9804B;
}

.burger {
  display: none;
}

@media (max-width: 1180px) {
  .header__block2 {
    margin-right: 0rem;
  }
}
@media (max-width: 1000px) {
  .header .menu__list {
    gap: 48rem;
  }
}
@media (max-width: 720px) {
  .header {
    padding: 3rem;
    height: 34rem;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__designed {
    display: none;
  }
  .header .logo {
    border: 0;
    width: 46rem;
    padding: 0rem;
  }
  .header .logo::before {
    content: "";
    background: url("../main/img/bamboo.svg") no-repeat;
    position: absolute;
    width: 7rem;
    height: 21rem;
    left: 4rem;
    bottom: -4rem;
  }
  .header .logo__text {
    line-height: 120%;
    font-size: 12rem;
  }
  .header .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__container {
    position: relative;
    width: 18rem;
    height: 13rem;
  }
  .burger__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #fff;
  }
  .burger__container span {
    position: absolute;
    bottom: 45%;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: #fff;
  }
  .burger__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #fff;
  }
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    width: 100%;
    margin-bottom: 34rem;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
/*...................................................*/
.watch {
  background: url("../main/img/panda_bg.png") center no-repeat;
  background-size: cover;
  height: 100%;
  height: 390rem;
}

@media (max-width: 720px) {
  .watch {
    height: 369rem;
  }
}
@media (max-width: 420px) {
  .watch {
    height: 221rem;
  }
}
/*..............................................*/
.forhelp-pick a {
  text-decoration: none;
}
.forhelp-pick__title {
  white-space: nowrap;
}
.forhelp-pick__text {
  line-height: 1rem;
}

.pick {
  font-style: normal;
  background-color: #FBC6AA;
  padding: 36rem 220rem 180rem 220rem;
  color: #333B41;
  height: 1482rem;
}
.pick__container {
  background-color: #FDE5D9;
  padding: 41rem 65rem 59rem 90rem;
}
.pick__container2 {
  width: 1160rem;
}
.pick__title {
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 20rem;
  white-space: nowrap;
  margin-right: 32rem;
  font-style: normal;
}
.pick__subtitle {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 90rem;
}
.pick__text {
  line-height: 130%;
  font-weight: 500;
  margin-bottom: 10rem;
}
.pick__title2 {
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40rem;
  font-style: normal;
}
.text-pick {
  line-height: 130%;
}
.text-pick__p1 {
  font-weight: 500;
  margin-bottom: 10rem;
}
.description-pick {
  display: flex;
  gap: 130rem;
  margin-bottom: 60rem;
  padding: 0 80rem;
}
.column-pick {
  position: relative;
}
.column-pick:not(:last-child)::after {
  content: "";
  background: url("../main/img/pick/Vector.svg") no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translate(115%, -20%);
  right: 0;
}
.column-pick__icon {
  width: 168rem;
  height: 166rem;
  background-color: #fff;
  border: 1px solid #F9804B;
  position: relative;
  margin-bottom: 30rem;
}
.column-pick__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column-pick__text {
  line-height: 140%;
}

.pick a {
  text-decoration: none;
}
.pick__input {
  text-align: center;
  margin-bottom: 31rem;
}
.pick__buttons {
  margin-right: 45rem;
}

.input-pick__wrapper-field {
  margin-right: 30rem;
  width: 268rem;
  display: inline-block;
  margin-bottom: 30rem;
  position: relative;
}
.input-pick__wrapper-field::after {
  content: "$";
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translate(0, -50%);
  color: #929699;
  font-size: 20rem;
  font-weight: 600;
}
.input-pick__fiel {
  padding-left: 10rem;
  width: 100%;
  height: 54rem;
  border: 1px solid rgb(146, 150, 153);
  border-radius: 2px;
  background: rgb(255, 230, 211);
  -moz-appearance: textfield;
}
.input-pick__fiel::-webkit-outer-spin-button, .input-pick__fiel::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-pick__fiel:focus {
  border: 1px solid rgb(75, 146, 0);
}
.input-pick__fiel:invalid {
  border: 1px solid rgb(211, 20, 20);
}
.input-pick__choice1 {
  border: 1px solid rgb(254, 144, 19);
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-pick__choice1[checked] {
  background: rgb(75, 146, 0);
}
.input-pick__choice2 {
  border: 1px solid rgb(254, 144, 19);
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-pick__choice2[checked] {
  background: rgb(75, 146, 0);
}
.input-pick__monthly {
  margin-right: 50rem;
}
.input-pick__monthly:focus {
  background: rgb(75, 146, 0);
}
.pick {
  font-style: normal;
  color: #333B41;
}
.pick__container {
  border-radius: 20px;
}
.pick__title {
  font-style: normal;
}
.pick__subtitle {
  font-style: normal;
}
.pick__button.button {
  transform: translate(-5%, 0);
}
.pick__share {
  line-height: 140%;
  color: #333B41;
  text-align: center;
  margin-top: 30rem;
}

.forhelp-pick {
  color: #FFFFFF;
  margin-bottom: 60rem;
}
.forhelp-pick__title {
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 10rem;
}
.forhelp-pick__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40rem;
}
.forhelp-pick__donation {
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
}

.diet {
  margin-right: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78rem;
  margin-bottom: 25rem;
}
.amount-diet {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.amount-diet::after {
  content: "";
  position: absolute;
  top: 35%;
  right: -15%;
  background: url("../main/img/donate/x_icon.svg");
  width: 14rem;
  height: 14rem;
}
.amount-diet__number {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 70rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-bottom: 11rem;
}
.amount-diet__text {
  line-height: 140%;
  color: #333B41;
  text-align: center;
}
.amount-diet__icon {
  transform: translate(2%, -10%);
}
.amount-diet__img {
  width: 100%;
  height: 100%;
}

.strip-pick__text {
  line-height: 140%;
  color: #000000;
  margin-bottom: 10rem;
}
.strip-pick__wrapper {
  max-width: 976rem;
  height: 27rem;
  background: #404950;
  border-radius: 2px;
  position: relative;
}
.strip-pick__line {
  max-width: 915px;
  height: 2px;
  background: #72828E;
  position: absolute;
  top: 50%;
  width: 92%;
  transform: translate(4%, -50%);
  left: 0;
}
.sum-strip {
  margin-bottom: 50rem;
  display: flex;
  gap: 67rem;
}
.sum-strip__number {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  position: relative;
  margin-top: 10rem;
}
.sum-strip__number::before {
  content: "";
  background: #FFEE2E;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  top: -75%;
  left: 40%;
}
.sum-strip__number::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-38%, -40%);
  width: 40rem;
  height: 40rem;
  border: 1rem solid rgb(254, 144, 19);
  border-radius: 50%;
  opacity: 0;
}
.sum-strip__number:hover {
  color: #F9804B;
}
.sum-strip__number:hover::after {
  opacity: 1;
}

.button {
  display: block;
  margin: 0 auto;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25rem;
  max-width: 298rem;
  width: 100%;
  height: 54rem;
}
.button:active {
  background: rgb(75, 146, 0);
}
.button:hover {
  background: rgb(228, 114, 9);
}
.button:hover:active {
  background: rgb(75, 146, 0);
}

@media (max-width: 1400px) {
  .pick {
    background-color: #FBC6AA;
    padding: 36rem 30rem 22rem 30rem;
    color: #333B41;
    height: 1482rem;
    height: auto;
  }
  .pick__container {
    background-color: #FDE5D9;
    padding: 20rem 17rem 45rem 44rem;
  }
  .pick__container2 {
    width: 980rem;
  }
  .pick .forhelp-pick {
    margin-bottom: 40rem;
  }
  .pick .forhelp-pick__title {
    white-space: normal;
    margin-bottom: 33rem;
  }
  .pick__subtitle {
    margin-bottom: 85rem;
  }
  .pick__diet {
    margin-bottom: 18rem;
  }
  .pick .strip-pick__wrapper {
    max-width: 860rem;
  }
  .pick .sum-strip {
    margin-bottom: 60rem;
    gap: 70rem;
  }
  .pick .sum-strip__number:first-child {
    display: none;
  }
}
@media (max-width: 970px) {
  .pick {
    padding: 30rem 20rem 42rem 20rem;
    height: 1482rem;
    height: auto;
  }
  .pick__container {
    background-color: #FDE5D9;
    padding: 30rem 0rem 35rem 0rem;
  }
  .pick__container2 {
    width: 620rem;
  }
  .pick .forhelp-pick__title {
    font-size: 24rem;
    margin-bottom: 15rem;
  }
  .pick .forhelp-pick__text {
    margin-bottom: 20rem;
  }
  .pick__subtitle {
    text-align: center;
    margin-bottom: 75rem;
  }
  .pick .sum-strip {
    margin-bottom: 45rem;
    gap: 70rem;
  }
  .pick .sum-strip__number:first-child {
    display: none;
  }
  .pick .sum-strip__number:nth-child(2) {
    display: none;
  }
  .pick .sum-strip__number:nth-child(3) {
    display: none;
  }
  .pick .input-pick__fiel {
    max-width: 180rem;
    height: 42rem;
  }
}
@media (max-width: 620px) {
  .pick {
    padding: 30rem 8rem 20rem 8rem;
  }
  .pick__container {
    background-color: #FDE5D9;
    padding: 10rem 0rem 15rem 0rem;
  }
  .pick__container2 {
    width: 300rem;
  }
  .pick .forhelp-pick__donation {
    font-size: 24rem;
  }
  .pick__title {
    font-size: 24rem;
    margin-bottom: 10rem;
  }
  .pick__subtitle {
    font-size: 16rem;
    margin-bottom: 30rem;
  }
  .pick .diet {
    gap: 50rem;
    margin-right: 0;
    margin-bottom: 0rem;
  }
  .pick .diet .amount-diet::after {
    content: "x";
    background: none;
    top: 25%;
    right: -15%;
    font-size: 14rem;
  }
  .pick .diet .amount-diet__number {
    font-size: 39rem;
    margin-bottom: 5rem;
  }
  .pick .diet .amount-diet__text {
    font-size: 9rem;
    white-space: nowrap;
  }
  .pick .diet .amount-diet__icon img {
    max-width: 160rem;
  }
  .pick .strip-pick__wrapper {
    max-width: 300rem;
    height: 13rem;
  }
  .pick .strip-pick__text {
    margin-bottom: 0;
  }
  .pick .sum-strip {
    margin-bottom: 25rem;
    gap: 40rem;
  }
  .pick .sum-strip__number {
    font-weight: 500;
    font-size: 13rem;
    margin-top: 5rem;
  }
  .pick .sum-strip__number::before {
    content: "";
    width: 6rem;
    height: 6rem;
    top: -80%;
    left: 40%;
  }
  .pick .button {
    transform: translate(0%, 0);
  }
  .pick__share {
    white-space: nowrap;
    font-size: 15rem;
  }
}
/*.................................*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 41rem 50rem;
}
.footer a {
  text-decoration: none;
}
.footer a {
  color: #fff;
}
.footer__container {
  display: flex;
}
.block1-footer {
  margin-right: 100rem;
}
.block1-footer__logo {
  margin-bottom: 68rem;
}
.block1-footer__button {
  border-radius: 5rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  margin-bottom: 48rem;
  padding: 0 40rem;
  width: 298rem;
}
.contacts-block1__list {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.contacts-block1__link {
  position: relative;
  padding-left: 40rem;
}
.contacts-block1__link:hover {
  color: #FA6F32;
}
.contacts-block1__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 26rem;
  height: 26rem;
  transform: translate(0, -50%);
  border-radius: 50%;
  z-index: 2;
}
.contacts-block1__link::after {
  content: "";
  background: rgba(196, 196, 196, 0.5);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
}
.contacts-block1__link:active {
  color: rgb(75, 146, 0);
}
.contacts-block1__link:active::after {
  background: rgb(75, 146, 0);
}
.contacts-block1__link:first-child::before {
  content: "";
  background: url("../main/img/footer/Facebook.svg") center no-repeat;
}
.contacts-block1__link:nth-child(2)::before {
  content: "";
  background: url("../main/img/footer/twitter.svg") center no-repeat;
}
.contacts-block1__link:nth-child(3)::before {
  content: "";
  background: url("../main/img/footer/inst.svg") center no-repeat;
}
.contacts-block1__link:nth-child(4)::before {
  content: "";
  background: url("../main/img/footer/youtube.svg") center no-repeat;
}

.block2-footer {
  align-items: end;
  display: flex;
  margin-right: 30rem;
}

.block3-footer {
  display: flex;
  flex-direction: column;
}
.block3-footer__title {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 10rem;
}
.block3-footer__email {
  flex: 1 1 100%;
  white-space: nowrap;
}
.block3-footer__input {
  min-width: 228rem;
  margin-bottom: 10rem;
  height: 42rem;
  position: relative;
  border: 0.7px solid;
  border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-image-slice: 1;
  background: #000;
  padding-left: 10rem;
  margin-right: 7rem;
  color: #fff;
}
.block3-footer__input:focus {
  border: 0.7px solid rgb(211, 20, 20);
}
.block3-footer__input:focus:valid {
  border: 0.7px solid rgb(75, 146, 0);
}
.block3-footer__button {
  color: rgb(75, 146, 0);
  line-height: 140%;
  max-width: 129rem;
  height: 49rem;
  width: 100%;
  position: relative;
  border-radius: 5rem;
  border: 1px solid rgb(75, 146, 0);
}
.block3-footer__button[data-mistake] {
  border: 1px solid rgb(211, 20, 20);
  color: rgb(211, 20, 20);
}
.block3-footer__desigend {
  white-space: nowrap;
  align-self: end;
  margin-left: 150rem;
  font-weight: 100;
}
.block3-footer__desigend p a {
  color: #ABABAB;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}
.block3-footer__desigend p a:active {
  color: rgb(75, 146, 0);
}

.footer__contacts2 {
  display: none;
}

@media (max-width: 1215px) {
  .footer .block1-footer {
    margin-right: -7rem;
  }
  .footer .block2-footer {
    margin-right: 0;
  }
}
@media (max-width: 1080px) {
  .footer {
    padding: 41rem 45rem;
  }
  .footer__container {
    display: flex;
  }
  .block1-footer {
    margin-right: -7rem;
  }
  .block2-footer {
    margin-right: -78rem;
  }
  .menu__list {
    gap: 48rem;
  }
  .block3-footer {
    margin-right: 180rem;
    transform: translate(-20%, 0);
  }
  .block3-footer__button {
    height: 42rem;
  }
}
@media (max-width: 970px) {
  .block3-footer__title {
    display: none;
  }
  .block3-footer__email {
    display: none;
  }
  .block3-footer__desigend {
    position: absolute;
    bottom: -35%;
    left: -80rem;
  }
  .block2-footer {
    display: block;
  }
  .footer {
    padding: 13rem 22rem 100rem;
    position: relative;
  }
  .footer .block1-footer__logo {
    margin-bottom: 30rem;
  }
  .footer .contacts-block1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .contacts-block1__list {
    gap: 30rem;
  }
  .footer .contacts-block1__link {
    color: #000;
  }
  .footer .contacts-block1__link::before {
    top: 90%;
    transform: translate(0, -50%);
    left: 75%;
  }
  .footer .contacts-block1__link::after {
    top: 90%;
    transform: translate(0, -50%);
    left: 75%;
  }
  .footer .menu__list {
    gap: 40rem;
    position: absolute;
    bottom: -40%;
    left: 0;
  }
}
@media (max-width: 611px) {
  .footer .footer__contacts2 {
    display: block;
  }
  .footer .footer__contacts2 .contacts-block1__list {
    flex-direction: row;
    gap: 17rem;
  }
  .footer .footer__contacts2 .contacts-block1__list .contacts-block1__link::after {
    left: 115%;
    transform: translate(0, -200%);
  }
  .footer .footer__contacts2 .contacts-block1__list .contacts-block1__link::before {
    transform: translate(0, -200%);
    bottom: 200rem;
    left: 115%;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .logo {
    margin: 0rem auto 28rem;
    border: none;
    white-space: nowrap;
    font-size: 19rem;
    text-align: center;
    margin-bottom: 80rem;
    transform: translate(-20%, 0);
  }
  .footer .logo::before {
    left: 100%;
  }
  .footer .contacts-block1 {
    display: none;
  }
  .footer .menu__list {
    gap: 30rem;
    position: absolute;
    bottom: -40%;
    left: 0;
  }
  .footer .block3-footer__desigend {
    transform: translate(-30%, 60%);
  }
}/*# sourceMappingURL=style copy.css.map */