html {
	font-size: 1px;
}

* {
	box-sizing: border-box;
}

.container {
	position: relative;
	padding: 10rem;
	height: 500rem;
	max-width: 500rem;
	margin: 0 auto;
	padding-top: 50rem;
	font-size: 16rem;
}

.menu {
	padding: 20rem 0 20rem 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #C0AB8E;
}

.menu__button {
	cursor: pointer;
	font-size: 20rem;
	padding: 10rem;
	background-color: #EADEDB;
}

.subtitle {
	font-size: 18rem;
	padding: 10rem 0 10rem 0;
	width: 100%;
	display: flex;
	gap: 5rem;
	justify-content: center;
	align-items: center;
	background-color: #C0AB8E;
}

.game {
	width: 100%;
	padding-bottom: 100%;
	margin: 0 auto;
	background-color: beige;
	user-select: none;
	position: relative;
}

.game__cell {
	transition: all 0.4s ease;
	box-sizing: border-box;
	font-size: 60rem;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	width: 25%;
	height: 25%;
	background-color: #C0AB8E;
	border: 3rem solid orange;
}

.sizes {
	padding: 20rem 0 20rem 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #C0AB8E;
}

.sizes_number {
	cursor: pointer;
	font-size: 20rem;
	padding: 10rem;
	background-color: #EADEDB;
}


.results {
	display: none;
	padding: 10rem;
	width: 100%;
	margin: 0 auto;
	padding: 10rem 10rem 0rem;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #C0AB8E;
}

.results.show {
	display: grid;
	gap: 6rem;
	grid-template-rows: repeat((10, 40rem));
}

.results__cross {
	position: absolute;
	top: 1%;
	right: 2%;
	font-size: 25rem;
}

.results__item {
	background-color: #EADEDB;
	font-size: 18rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	display: flex;
	gap: 5rem;
}

.win {
	display: none;
	position: absolute;
	width: 100%;
	height: 80%;
	top: 22%;
	left: 0;
	background-color: #EC9787;
	border-radius: 20rem;
	text-align: center;
}

.win__cross {
	position: absolute;
	top: 3%;
	right: 4%;
	font-size: 35rem;
}

.win.show {
	justify-content: center;
	font-size: 30rem;
	display: flex;
	align-items: center;
}


@media (max-width: 500px) {
	.menu__button {
		font-size: 14rem;
		padding: 5rem;
	}

	.sizes_number {
		font-size: 14rem;
		padding: 5rem;
	}
}